
span.modified-0, .modified-0 i, .modified-0 a {
    color: #154360;
}

span.modified-1, .modified-1, .modified-1 a {
    color: #0E6251;
}

span.modified-2, .modified-2, .modified-2 a {
    color: #512E5F;
}

span.modified-3, .modified-3, .modified-3 a {
    color: #17202A;
}

span.modified-4, .modified-4, .modified-4 a {
    color: #45B39D;
}

span.modified-5, .modified-5, .modified-5 a {
    color: #7D6608;
}

span.modified-6, .modified-6, .modified-6 a {
    color: #7E5109;
}

span.modified-7, .modified-7, .modified-7 a {
    color: #784212;
}

span.modified-8, .modified-8, .modified-8 a {
    color: #6E2C00;
}

span.modified-9, .modified-9, .modified-9 a {
    color: #E59866;
}

span.modified-10, modified-10, .modified-10 a {
    color: #C0392B;
}

span.modified-11, .modified-11, .modified-11 a {
    color: #A569BD;
}

.modified-0 .bootstrap-select, .modified-0 input {
    border: 1px solid #154360;
}

.modified-1 .bootstrap-select, .modified-1 input {
    border: 1px solid #0E6251;
}

.modified-2 .bootstrap-select, .modified-2 input {
    border: 1px solid #512E5F;
}

.modified-3 .bootstrap-select, .modified-3 input {
    border: 1px solid #17202A;
}

.modified-4 .bootstrap-select, .modified-4 input {
    border: 1px solid #45B39D;
}

.modified-5 .bootstrap-select, .modified-5 input {
    border: 1px solid #7D6608;
}

.modified-6 .bootstrap-select, .modified-6 input {
    border: 1px solid #7E5109;
}

.modified-7 .bootstrap-select, .modified-7 input {
    border: 1px solid #784212;
}

.modified-8 .bootstrap-select, .modified-8 input {
    border: 1px solid #6E2C00;
}

.modified-9 .bootstrap-select, .modified-9 input {
    border: 1px solid #E59866;
}

.modified-10 .bootstrap-select, .modified-10 input {
    border: 1px solid #C0392B;
}

.modified-11 .bootstrap-select, .modified-11 input {
    border: 1px solid #A569BD;
}
