
.node-entry {
    margin: 4px;
}

.node-entry-icon {
    margin-right: 8px;
    margin-left: 4px;
}

.node-entry-header {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
}

.node-entry-class-name {
    color: #979797;
}

.node-entry:hover {
}

.class-group {
    margin: 4px;
    /* border: 6px solid #e6e6e6; */
    /* padding-left: 32px; */
}

.class-group h4 {
    padding: 10px;
    background-color: #e6e6e6;
}

.class-group-entries {}

.class-group-subgroups {}