
.node-entry {
    width: 192px;
    height: 96px;
    margin: 4px;
    text-align: center;
    border: 1px solid #d6d6d6;
    background-color: #e2e2e2;
    border-radius: 2px;
}

.node-entry-header {
    font-size: 15px;
    color: #080808;
}

.node-entry:hover {
}

.class-group {
    margin: 4px;
    border: 6px solid #e6e6e6;
}

.class-group h4 {
    padding: 10px;
    background-color: #e6e6e6;
}

.class-group-entries {
    display:                 flex;
    flex-wrap:               wrap;
    justify-content:         center;
}