
.node-entry {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 2px;
}

.node-entry-btn {
    color: #007bff;
}

.node-entry-btn:hover {
    border-color: #007bff;
}

.node-entry-icon {
    margin-right: 8px;
    color: #000000;
}

.node-entry-class-name {
    color: #b0b0b0;
    font-family: "Courier New";
    font-size: 12px;
    padding-left: 8px;
}

.node-entry-description {
    color: #453e41;
    padding-left: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    display: inline;
    float: left;
    width: 100%;
}

.node-entry-class-name:hover {
    color: #000000;
}

.node-entry:hover {
}

.class-group {
    margin: 4px;
    /* border: 6px solid #e6e6e6; */
    /* padding-left: 32px; */
}

.class-group h4 {
    padding: 10px;
    background-color: #e6e6e6;
}

.class-group-entries {
    width: 100%;
}

.class-group-subgroups {}