html,
body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.workspace-environment {
  width: 100%;
  font-size: 14px;
  cursor: default;
  user-select: none;
}

.workspace-environment-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.workspace-environment-text {
  font-weight: bold;
}

.workspace-environment-button {
  float: right;
  padding: 0 5px;
  display: none;
}

.workspace-environment-button:hover {
  background-color: #dce9ff;
}

.workspace-environment-header:hover {
  background-color: #EFF8FF;
}

.workspace-environment-header:hover .workspace-environment-button {
  display: inline-block;
}

.workspace-nodes {
}

.workspace-node {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 20px;
}

.workspace-node:hover {
  background-color: #EFF8FF;
}

.workspace-environment-opened .workspace-environment-header {
  border-bottom: 1px solid rgba(15, 49, 81, 0.46);
}