html,
body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
}

.workspace-contents {
    /* background-color: #f0f0f0; */
    margin-left: 200px;
    /* padding: 0 6px 6px 0; */
    height:100%;
}

.workspace-sidebar {
    background-color: #ffffff;
    width: 350px;
    float: left;
    height:100%;
    overflow-y: auto;
}

.class-property-action {
    margin-right: 8px;
    cursor: pointer;
}

#workspace {
  border-top: 1px solid #f0f0f0;
}

.modified .bootstrap-select {
    border-radius: 3px;
}

.workspace-selector {
    background-color: #f0f0f0;
    border-bottom: 1px solid #dee2e6;
}

.workspace-selector a {
    padding: .1rem 0;
    margin-left: 0.5em;
    border-radius: 0;
    color: #495057;
}

.workspace-node-select {
    flex-grow: 1;
}

.modified-0 i, .modified-0 a {
    color: #154360;
}

.modified-1, .modified-1 a {
    color: #0E6251;
}

.modified-2, .modified-2 a {
    color: #512E5F;
}

.modified-3, .modified-3 a {
    color: #17202A;
}

.modified-4, .modified-4 a {
    color: #45B39D;
}

.modified-5, .modified-5 a {
    color: #7D6608;
}

.modified-6, .modified-6 a {
    color: #7E5109;
}

.modified-7, .modified-7 a {
    color: #784212;
}

.modified-8, .modified-8 a {
    color: #6E2C00;
}

.modified-9, .modified-9 a {
    color: #E59866;
}

.modified-10, .modified-10 a {
    color: #C0392B;
}

.modified-11, .modified-11 a {
    color: #A569BD;
}

.modified-0 .bootstrap-select, .modified-0 input {
    border: 1px solid #154360;
}

.modified-1 .bootstrap-select, .modified-1 input {
    border: 1px solid #0E6251;
}

.modified-2 .bootstrap-select, .modified-2 input {
    border: 1px solid #512E5F;
}

.modified-3 .bootstrap-select, .modified-3 input {
    border: 1px solid #17202A;
}

.modified-4 .bootstrap-select, .modified-4 input {
    border: 1px solid #45B39D;
}

.modified-5 .bootstrap-select, .modified-5 input {
    border: 1px solid #7D6608;
}

.modified-6 .bootstrap-select, .modified-6 input {
    border: 1px solid #7E5109;
}

.modified-7 .bootstrap-select, .modified-7 input {
    border: 1px solid #784212;
}

.modified-8 .bootstrap-select, .modified-8 input {
    border: 1px solid #6E2C00;
}

.modified-9 .bootstrap-select, .modified-9 input {
    border: 1px solid #E59866;
}

.modified-10 .bootstrap-select, .modified-10 input {
    border: 1px solid #C0392B;
}

.modified-11 .bootstrap-select, .modified-11 input {
    border: 1px solid #A569BD;
}
